<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
<connectionStrings><add name="TESTEntities" connectionString="metadata=res://*/Entities.DbModel.csdl|res://*/Entities.DbModel.ssdl|res://*/Entities.DbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CARLOS\SQLEXPRESS;initial catalog=TEST;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>